@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    @apply text-blue-700;
  }
}

.ripple {
  position: relative;
}

.ripple::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgb(162, 50, 50);
  border-radius: 50%;
  transform: scale(0);
  pointer-events: none;
  top: 0;
  left: 0;
  transform: scale(0);
  animation: infinite ripple 0.6s linear;
}

@keyframes ripple {
  to {
    transform: scale(2);
    opacity: 0;
  }
}
